<table>
  <tr>
    <td><label for="projectid">项目编号:</label></td>
    <td><input data-dojo-type="dijit/form/TextBox" disabled="disabled" type="text" name="projectid"></td>
  </tr>
  <tr>
    <td><label for="projectName">项目名:</label></td>
    <td><input data-dojo-type="dijit/form/TextBox" disabled="disabled" type="text" name="projectName"></td>
  </tr>
  <tr>
    <td><label for="userid">成员邮件地址:</label></td>
    <td><input data-dojo-type="dijit/form/ValidationTextBox" required="true" data-dojo-props="regExp:'[\\w\\.-]{2,}'" type="text" name="userid" id="userid"></td>
  </tr>
  <tr>
    <td><label for="adddate">加入日期: </label></td>
    <td><input data-dojo-type="dijit/form/DateTextBox" data-dojo-id="adddate" required="true" type="text" name="addDate" id="adddate"></td>
  </tr>
</table>